body {
    background-image: url("../images/login_backgr.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    padding: 25vh;
}